.container{
    background-color: blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* width: 105px;
    height: 500px; */
    padding: 10px;
    display: flex;
    flex-direction: row;
    /* justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    gap: 10px; */
}

.box{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    border-radius: 3px;
}

#box1 {
    background-color: white;
    flex-grow: 1;
}

#box2 {
    background-color: blue;
    flex-grow: 2;

}

#box3 {
    background-color: aqua;
    flex-grow: 3;

}